@font-face {
    font-family: 'Barlow';
    src: url('./assets/fonts/Barlow-ExtraLight.ttf')
}

@font-face {
    font-family: 'Barlow Bold';
    src: url('./assets/fonts/Barlow-Bold.ttf')
}

@font-face {
    font-family: 'October Twilight';
    src: url('./assets/fonts/October-Twilight.ttf')
}

body {
    font-family: 'Barlow';
    margin: 0px;
    background-color: #FFFFFF;
}


/* //MOBILE\\ */

@media (min-width: 320px) {
    .menu {
        padding: 18px 27px;
        font-size: 20px;
    }
    .menu__mobile {
        display: flex;
        justify-content: space-between;
    }
    .menu__button {
        outline: none;
        border: transparent;
        background-color: transparent;
    }
    .menu__dropdown-mobile--hidden {
        visibility: hidden;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: visibility 1s linear, opacity 500ms linear, max-height 750ms linear;
    }
    .menu__dropdown-mobile--visible {
        visibility: visible;
        max-height: 500px;
        opacity: 1;
        overflow: hidden;
        transition: visibility 1s linear, opacity 500ms linear, max-height 1s linear;
    }
    .menu__dropdown-mobile--visible div,
    .menu__dropdown-mobile--hidden div {
        padding-top: 24px;
    }
    .content1 {
        background-color: #FFFFFF;
    }
    .content1__image-title1,
    .content1__image-title2 {
        color: #FFFFFF;
    }
    .content1__image-title1 {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .content1__image-title2 {
        font-family: 'October Twilight' !important;
        font-size: 29px;
        margin-bottom: 16px;
    }
    .content1__image {
        height: 215px;
        background-image: url('./assets/img/Fundomobile.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-size: cover;
    }
    .content1__text {
        font-family: 'Barlow Bold' !important;
        color: #F82875;
        font-size: 20px;
        display: flex;
        text-align: center;
        padding: 0px 45px;
        margin-top: 20px;
        margin-bottom: 44px;
    }
    .content1__button-position {
        display: flex;
        justify-content: center;
        padding-bottom: 44px;
    }
    .content1__button {
        font-family: 'Barlow Bold' !important;
        color: #FFFFFF;
        background-color: #F82875;
        border-radius: 10px;
        border-color: transparent;
        padding: 20px 23px;
        font-size: 16px;
    }
    .content2 {
        background-color: rgba(248, 40, 117, 0.07);
    }
    .content2__img1 {
        height: 271px;
        padding: 0px 45px 25px 45px;
        background-image: url('./assets/img/Real-mobile.png');
        background-repeat: no-repeat;
    }
    .content2__img2 {
        height: 330px;
        background-image: url(./assets/img/Foto-2-mobile.png);
        background-repeat: no-repeat;
        background-attachment: inherit;
        background-position: center;
    }
    .content2__title {
        font-family: 'Barlow Bold' !important;
        color: #F82875;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 30px 0px;
    }
    .content2__text {
        color: #5F5F5F;
        font-size: 16px;
        display: flex;
        text-align: left;
        justify-content: center;
        padding: 0px 45px 25px 45px;
        flex-direction: column;
    }
}